﻿
@{
    ViewBag.Title = "HtmlHelper";
}

<h2>HtmlHelper</h2>

<p>
    姓名
    @Html.TextBox("name", "test@gmail.com")
</p>

<p>
    帳號
    @Html.TextBox("acc", "test@gmail.com")
</p>

<p>
    密碼
    @Html.Password("pwd");
</p>

<P> 性別 @Html.RadioButton("gender", "A") 男生
         @Html.RadioButton("gender", "b") 女生
</P>
<p>
    興趣:@Html.CheckBox("hobby" , "A")游泳
         @Html.CheckBox("hobby2", "B")閱讀
         @Html.CheckBox("hobby3", "C")看電影

</p>

<p>自我介紹: @Html.TextArea("ABOUT")</P>


@*<h2>Index</h2>
    <p>姓名</p>
    <input id="name" type="text" value=""></br>
    <p>帳號</p>
    <input id="account" type="text" value=""></br>
    <p>密碼</p>
    <input id="code" type="text" value=""></br>

    <input id="boy" type="radio" value="0">男生
    <input id="girl" type="radio" value="1">女生

    <p>
        興趣: <input type="checkbox" value="1" name="Product_1"> 游泳

        <input type="checkbox" value="2" name="Product_2"> 閱讀

        <input type="checkbox" value="3" name="Product_3"> 看電影

    </p>
    <form name="form1" action="" method='get'>
    <textarea id="word" name="txt" style="width:300px;height:100px;"></textarea></td>
        </br>
        <input type="submit" value="提交">
    </form>*@
