﻿@model  WebApplication1.ViewModel.BMIData


@{
    ViewBag.Title = "Index";
}

<h2>BMI計算</h2>
<form action="/BMI/Index" method="post">
    
    <P><input type="submit" name="name" value="送出" /></P>
    <p>身高:@Html.TextBoxFor(a=>a.Height)</p>
    <p>體重:@Html.TextBoxFor(b=>b.Weight)</p>
    <p>計算結果:@Model.Result</p>
    <p>等級:@Model.Level</p>
</form>

